<script type="text/ng-template" id="confirmDelete.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"
                aria-hidden="true"> x
        </button>
        <h4></h4>
    </div>

    <div class="modal-body" style="padding-top: 0">
        <h4 style="text-align: center">Are u sure that you wanna delete this event ?</h4>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="confirmDelete()">Yes</button>
        <button class="btn btn-danger" ng-click="close()">No</button>
    </div>
</script>

